
.tabs {
    display: flex;
    flex-direction: row;
  }
  
  .tab {
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
  }
  
  .viewport {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  